<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147747591133-ohlt2u7mfjb1rs6jglr9ej97no2jv6ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147747591133-ohlt2u7mfjb1rs6jglr9ej97no2jv6ic</string>
	<key>API_KEY</key>
	<string>AIzaSyCLMwZVp-Snyv0PEuwfztlcgbv0pRy1ewA</string>
	<key>GCM_SENDER_ID</key>
	<string>147747591133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fcmApp</string>
	<key>PROJECT_ID</key>
	<string>fcm-test-caefc</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-test-caefc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147747591133:ios:3a53c4976d9a928db85c34</string>
</dict>
</plist>